<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="LogDirectory" value="C:\Temp\" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="QuinielazServices.QuinielazService">
        <endpoint address="soap" binding="basicHttpBinding" contract="QuinielazServices.ServiceContracts.IQuinielazService" />
        <endpoint address="json" behaviorConfiguration="jsonBehavior"
          binding="webHttpBinding" contract="QuinielazServices.ServiceContracts.IQuinielazService" />
      </service>
      <service name="QuinielazServices.UsuarioService">
        <endpoint address="soap" binding="basicHttpBinding" contract="QuinielazServices.ServiceContracts.IUsuarioService" />
        <endpoint address="json" behaviorConfiguration="jsonBehavior"
          binding="webHttpBinding" contract="QuinielazServices.ServiceContracts.IUsuarioService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding
          maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647"
          maxBufferSize="2147483647" transferMode="Streamed">
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConsultaCFDIService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="quinielazdbEntities" connectionString="metadata=res://*/QuinielazDB.csdl|res://*/QuinielazDB.ssdl|res://*/QuinielazDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=zakJuarez1;database=quinielazdb&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
